.workspace {
  width: calc(100% - 295px);
  position: absolute;
  right: 0;
  left: 295px;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(161, 171, 181);
}


